.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 90vh;

  .title {
    color: var(--text-primary);
    margin-bottom: 20px;
  }

  .subtitle {
    color: var(--text-secondary);
    margin-bottom: 30px;
  }
  .page-loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
}