<div class="container">
    <h1 class="title">{{ item()?.name ?? '' }}</h1>
    <p class="subtitle">{{ item()?.icode ?? '' }}</p>
    @if (item()) {

        <app-item-form
            #itemForm
            mode="view"

            [initialData]="item()!"
            [itemGroups]="itemGroups()"

            [loading]="loading()"
            [creating]="false"
            [updating]="updating()"
            [deleting]="deleting()"

            (update)="onUpdate($event)"
            (delete)="onDelete()"
            (goBack)="onGoBack(itemForm)"
        >
        </app-item-form>
    }
    @else{
        <div class="page-loading-container">
            <mat-spinner 
                diameter="100"
                strokeWidth="3"
                style="--mdc-circular-progress-active-indicator-color: white;"
            >
            </mat-spinner>
        </div>
    }

</div>
