<div class="login-container">
    <mat-card class="login-card">
        <h2>FinFlow</h2>
        <p class="subtitle">Log in to continue</p>

    <!-- FORM GROUP BEGINS -->
        <form (ngSubmit)="onLogin()">
        <!-- EMAIL ID BEGINS-->
            <mat-form-field appearance="outline" class="full email">
                <mat-label>Email</mat-label>
                <input matInput [formControl]="email" />

                @if (email.invalid) {
                    <mat-error>{{ emailError() }}</mat-error>
                }
            </mat-form-field>
        <!-- EMAIL ID ENDS -->
        
        <!-- PASSWORD BEGINS -->
            <mat-form-field appearance="outline" class="full password">
                <mat-label>Password</mat-label>
                <input matInput type="password" [formControl]="password" />
                @if (password.invalid) {
                    <mat-error>{{ passwordError() }}</mat-error>
                }
            </mat-form-field>
        <!-- PASSWORD ENDS -->

        <!-- LOGIN BUTTON BEGINS -->
            <div
                class="login-btn-wrapper"
                [class.invalid]="email.invalid || password.invalid">

                <button
                    mat-raised-button
                    type="submit"
                    class="full login-btn"
                    [disabled]="email.invalid || password.invalid">
                    Login
                </button>
            </div>
        <!-- LOGIN BUTTON ENDS -->

        <!-- CREATE NEW ACCOUNT BUTTON BEGINS -->
            <button
                mat-button
                class="full create-acc-btn"
                routerLink="/signup">
                Create new account
            </button>
        <!-- CREATE NEW ACCOUNT BUTTON ENDS -->

        </form>
    <!-- FORM GROUP ENDS -->

    </mat-card>
</div>
