<div class="login-container">
    <mat-card class="login-card">
        <h2>Reset Password</h2>
        <p class="subtitle">Enter your new password</p>

        <form (ngSubmit)="onSubmit()">
        
        <!-- EMAIL ID BEGINS -->
            <mat-form-field appearance="outline" class="full email">
            <mat-label>Email</mat-label>
            <input
                matInput
                [formControl]="email"
                [disabled]="true"/>

            </mat-form-field>
        <!-- EMAIL ID ENDS -->

        <!-- NEW PASSWORD BEGINS -->
            <mat-form-field appearance="outline" class="full password">
                <mat-label>New Password</mat-label>
                <input
                    matInput
                    [type]="hidePassword() ? 'password' : 'text'"
                    [formControl]="password" />

                <button
                    mat-icon-button
                    matSuffix
                    type="button"
                    (click)="hidePassword.set(!hidePassword())">
                    <mat-icon>
                        {{ hidePassword() ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                </button>

                @if (password.invalid) {
                    <mat-error>{{ passwordError() }}</mat-error>
                }
            </mat-form-field>
        <!-- NEW PASSWORD ENDS -->

        <!-- CONFIRM PASSWORD BEGINS -->
            <mat-form-field appearance="outline" class="full password">
            <mat-label>Confirm Password</mat-label>
            <input
                matInput
                [type]="hideConfirmPassword() ? 'password' : 'text'"
                [formControl]="confirmPassword" />

            <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="hideConfirmPassword.set(!hideConfirmPassword())">
                <mat-icon>
                    {{ hideConfirmPassword() ? 'visibility_off' : 'visibility' }}
                </mat-icon>
            </button>

            @if (confirmPassword.invalid) {
                <mat-error>{{ confirmPasswordError() }}</mat-error>
                }
            </mat-form-field>
        <!-- CONFIRM PASSWORD ENDS -->

        <!-- RESET PASSWORD BUTTON BEGINS-->
            <div
                class="reset-pwd-btn-wrapper"
                [class.invalid]="
                    password.invalid ||
                    confirmPassword.invalid ||
                    (password.value !== confirmPassword.value)
                "
                [class.loading]="loading()">

                <button
                    mat-raised-button
                    class="full reset-pwd-btn"
                    type="submit"
                    [disabled]="
                    password.invalid ||
                    confirmPassword.invalid ||
                    (password.value !== confirmPassword.value) ||
                    loading()
                    ">

                    @if (loading()) {
                        <mat-progress-spinner
                            mode="indeterminate"
                            diameter="20"
                            strokeWidth="2"
                            style="--mdc-circular-progress-active-indicator-color: white">
                        </mat-progress-spinner>
                    } @else {
                        Reset Password
                    }

                </button>
            </div>
        <!-- RESET PASSWORD BUTTON ENDS -->

        <!-- LOGIN BUTTON BEGINS -->
            <button
                mat-button
                type="button"
                class="full go-back-btn"
                routerLink="/login">
                <mat-icon fontSet="material-symbols-outlined" class="outline-icon">
                    arrow_circle_left
                </mat-icon>
                Back to Login
            </button>
        <!-- LOGIN BUTTON ENDS -->

        </form>
    </mat-card>
</div>

