.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
//   background: var(--md-sys-color-background);
  background: #0C1014; /* black background */
}

.login-card {
  width: 380px;
  padding: 32px 28px;
  border-radius: 16px;
  text-align: center;
}

h1 {
  margin-bottom: 0px;
}

.subtitle {
  margin-bottom: 24px;
  color: var(--md-sys-color-on-surface-variant);

}

.password {
  margin-bottom: 4px;
}

.full {
  width: 100%;
}

.reset-pwd-btn {
  margin-top: 12px;
  height: 44px;
  font-weight: 500;
  background-color: #1A74E3 !important;
  color: #ffffff !important;
}

/* Cursor invalid */
.reset-pwd-btn-wrapper.invalid {
  cursor: not-allowed;
}

/* Disabled button look */
.reset-pwd-btn-wrapper.invalid .reset-pwd-btn {
  background-color: #0D3C71 !important; /* grey */
  color: #6D757A!important;
  pointer-events: none;
  opacity:0.8;
}

/* Hover feedback */
.reset-pwd-btn-wrapper.invalid:hover {
  opacity: 0.9;
}


.go-back-btn{
  margin-top: 12px;
  height: 44px;
  font-weight: 500;
  background-color: #152127;
  color: #ffffff !important; 
}
