.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-primary);
}

.login-card {
  width: 380px;
  padding: 32px 28px;
  border-radius: 16px;
  text-align: center;
  background: var(--bg-secondary);
  border: 1px solid var(--border-color) !important;
  box-shadow: none !important;
}

h2 {
  margin-bottom: 0px;
}

.subtitle {
  margin-bottom: 24px;
  color: var(--text-secondary);
}

.password {
  margin-bottom: 4px;
}

.full {
  width: 100%;
}

.reset-pwd-btn {
  margin-top: 12px;
  height: 44px;
  font-weight: 500;
  background-color: var(--button-blue) !important;
  color: var(--text-primary) !important;
}

/* Cursor invalid */
.reset-pwd-btn-wrapper.invalid, .reset-pwd-btn-wrapper.loading {
  cursor: not-allowed;
}

/* Disabled button look */
.reset-pwd-btn-wrapper.invalid .reset-pwd-btn {
  background-color: var(--button-dark-blue) !important; /* grey */
  color: var(--text-disabled) !important;
  opacity:0.8;
}

/* loading state */
.reset-pwd-btn-wrapper.loading .reset-pwd-btn {
  background-color: var(--button-blue) !important; /* keep active blue */
  color: var(--text-primary) !important;
  opacity: 1;
  cursor: default;
}

/* Hover feedback */
.reset-pwd-btn-wrapper.invalid:hover, .reset-pwd-btn-wrapper.loading:hover{
  opacity: 0.9;
}

.go-back-btn{
  margin-top: 12px;
  height: 44px;
  font-weight: 400;
  background-color: var(--bg-primary) !important;
  color: var(--text-primary) !important; 
}
