<form [formGroup]="form" class="form-grid">

    <!-- ITEM CODE -->
    <mat-form-field appearance="outline">
        <mat-label>Item Code</mat-label>
        <input matInput (input)="onIcodeInput($event)" formControlName="icode" />
        <mat-error *ngIf="form.controls.icode.hasError('required')">
        Item code is required
        </mat-error>
        <mat-error *ngIf="form.controls.icode.hasError('icodeTaken')">
        Item code already exists
        </mat-error>
        <mat-error *ngIf="form.controls.icode.hasError('pattern')">
            Wrong Format. Ex: ABC1234
        </mat-error>
    </mat-form-field>

    <!-- NAME -->
    <mat-form-field appearance="outline">
        <mat-label>Item Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="form.controls.name.hasError('required')">
            Item Name is Required
        </mat-error>
    </mat-form-field>

    <!-- GROUP -->
    <mat-form-field appearance="outline">
        <mat-label>Item Group</mat-label>
        <mat-select formControlName="igid">
        <mat-option [value]="null" disabled>Select Item Group</mat-option>
        <mat-option *ngFor="let group of itemGroups" [value]="group.igid">
            {{ group.name }}
        </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- ITEM TYPE -->
    <mat-form-field appearance="outline">
        <mat-label>Item Type</mat-label>
        <mat-select formControlName="itemType">
        <mat-option *ngFor="let type of itemTypes" [value]="type">
            {{ type }}
        </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- UOM -->
    <mat-form-field appearance="outline">
        <mat-label>Unit of Measure</mat-label>
        <mat-select formControlName="uom">
        <mat-option *ngFor="let u of uoms" [value]="u">
            {{ u }}
        </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- HSN -->
    <mat-form-field appearance="outline">
        <mat-label>HSN / SAC Code</mat-label>
        <input matInput formControlName="hsnSacCode" />
        <mat-error *ngIf="form.controls.hsnSacCode.hasError('required')"> 
            Code is Required 
        </mat-error>
        <mat-error *ngIf="form.controls.hsnSacCode.hasError('pattern')">
            Only numeric values allowed
        </mat-error>
        <mat-error *ngIf="form.controls.hsnSacCode.hasError('maxlength')">
            Maximum 10 numbers allowed
        </mat-error>
    </mat-form-field>

    <!-- PURCHASE RATE -->
    <mat-form-field appearance="outline">
        <mat-label>Purchase Rate ₹</mat-label>
        <input 
        matInput 
        type="text" 
        min="0"
        step="0.01"
        [maxDecimals]="2"
        inputmode="decimal"
        formControlName="purchaseRate" 
        />
        <mat-error *ngIf="form.controls.purchaseRate.hasError('min')">
        Cannot be negative
        </mat-error>
    </mat-form-field>

    <!-- SALES RATE -->
    <mat-form-field appearance="outline">
        <mat-label>Sales Rate ₹</mat-label>
        <input 
        matInput 
        type="text" 
        min="0"
        step="0.01"
        [maxDecimals]="2"
        inputmode="decimal"
        formControlName="salesRate" 
        />
        <mat-error *ngIf="form.controls.salesRate.hasError('min')">
        Cannot be negative
        </mat-error>
    </mat-form-field>

    <!-- GST -->
    <mat-form-field appearance="outline">
        <mat-label>GST %</mat-label>
        <mat-select formControlName="gstRate">
        <mat-option *ngFor="let rate of gstRates" [value]="rate">
        {{ rate }}%
        </mat-option>
    </mat-select>
    </mat-form-field>

    <!-- CHECKBOXES -->
    <div class="checkbox-group">
        <mat-checkbox formControlName="isBom">BOM Item</mat-checkbox>
        <mat-checkbox formControlName="stockable">Stockable</mat-checkbox>
    </div>

    <!-- DESCRIPTION -->
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
        <mat-error *ngIf="form.controls.description.hasError('required')">
            Description is Required
        </mat-error>
        <mat-error *ngIf="form.controls.description.hasError('minlength')">
            Minimum 5 characters required
        </mat-error>
        <mat-error *ngIf="form.controls.description.hasError('maxlength')">
            Maximum 1000 characters allowed
        </mat-error>
    </mat-form-field>

    <!-- BOTTOM ACTION BUTTONS -->
    <div class="step-action-bar full-width">

        <!-- LEFT: GO BACK -->
        <button
        mat-button
        class="go-back-btn"
        (click)="onGoBack()"
        [disabled]="loading || creating || updating || deleting"
        type="button"
        >
        <mat-icon fontSet="material-symbols-outlined" class="outline-icon">
            arrow_circle_left
        </mat-icon>
        Go Back
        </button>

        <!-- RIGHT SIDE GROUP -->
        <div class="right-actions">

            <!-- CREATE MODE BEGINS -->
            @if(isCreateMode){
                <!-- CLEAR -->
                <button
                    mat-stroked-button
                    class="clear-btn"
                    (click)="onClearClick()"
                    [disabled]="creating"
                    type="button"
                >
                    <mat-icon 
                        fontSet="material-symbols-outlined"
                        class="outline-icon">
                        ink_eraser
                    </mat-icon>
                    Clear
                </button>

                <!-- CREATE ITEM -->
                <div
                    class="create-btn-wrapper"
                    [class.invalid]="form.invalid || form.pending"
                    [class.loading]="creating"
                >
                    <button
                    mat-raised-button
                    class="create-btn"
                    type="button"
                    (click)="onCreateClick()"
                    [disabled]="form.invalid || creating"
                    >

                    <mat-progress-spinner
                        *ngIf="creating"
                        mode="indeterminate"
                        diameter="20"
                        strokeWidth="2"
                        style="--mdc-circular-progress-active-indicator-color: white"
                    >
                    </mat-progress-spinner>

                    <mat-icon
                        *ngIf="!creating"
                        fontSet="material-symbols-outlined"
                        class="outline-icon"
                    >
                        add_circle
                    </mat-icon>

                    <span *ngIf="!creating">Create Item</span>

                    </button>
                </div>
            }

            <!-- VIEW MODE BEGINS -->
            @if (isViewMode) {

                <div class="header-actions">

                    <!-- EDIT -->
                    @if (!isEditMode) {

                        <button
                        mat-stroked-button
                        type="button"
                        class="edit-btn"
                        [disabled]="loading || updating || deleting"
                        (click)="enableEdit()"
                        >
                            <mat-icon fontSet="material-symbols-outlined" class="outline-icon">
                                edit
                            </mat-icon>
                            Edit
                        </button>

                    }

                    @if (isEditMode) {
                        <!-- SAVE CHANGES BUTTON-->
                        <div
                        class="save-btn-wrapper"
                        [class.invalid]="form.invalid"
                        [class.loading]="updating"
                        >
                        <button
                            mat-raised-button
                            type="button"
                            class="save-btn"
                            (click)="onUpdateClick()"
                            [disabled]="
                                form.invalid || 
                                form.pending || 
                                loading || 
                                deleting || 
                                updating"
                        >

                            <mat-progress-spinner
                            *ngIf="updating"
                            mode="indeterminate"
                            diameter="20"
                            strokeWidth="2"
                            style="--mdc-circular-progress-active-indicator-color: white"
                            >
                            </mat-progress-spinner>

                            <mat-icon
                            *ngIf="!updating"
                            fontSet="material-symbols-outlined"
                            class="outline-icon"
                            >
                            save
                            </mat-icon>

                            <span *ngIf="!updating">Save Changes</span>

                        </button>
                        </div>

                        <!-- CANCEL EDIT BUTTON-->
                        <button
                            mat-stroked-button
                            type="button"
                            class="cancel-btn"
                            [disabled]="loading || deleting || updating"
                            (click)="cancelEdit()"
                        >
                        <mat-icon fontSet="material-symbols-outlined" class="outline-icon">
                            edit_off
                        </mat-icon>
                        Cancel
                        </button>
                    }

                    <!-- DELETE -->
                    <div class="delete-btn-wrapper" [class.loading]="deleting">

                        <button
                        mat-stroked-button
                        type="button"
                        class="delete-btn"
                        [disabled]="updating || loading || deleting"
                        (click)="onDeleteClick()"
                        >

                        <mat-progress-spinner
                            *ngIf="deleting"
                            mode="indeterminate"
                            diameter="18"
                            strokeWidth="2"
                            style="--mdc-circular-progress-active-indicator-color: red"
                        >
                        </mat-progress-spinner>

                        <mat-icon
                            *ngIf="!deleting"
                            fontSet="material-symbols-outlined"
                            class="outline-icon"
                        >
                            delete
                        </mat-icon>

                        <span *ngIf="!deleting">Delete</span>

                        </button>

                    </div>

                </div>

            }

        </div>
    </div>

</form>

