.container {
  max-width: 1200px;
  margin: 0 auto;

  .title {
    color: var(--text-primary);
    margin: 20px 0px 20px 0px;
  }

  .subtitle {
    color: var(--text-secondary);
    margin-bottom: 30px;
  }
}