<div class="login-container">
    <mat-card class="login-card">
        <h1>FinFlow</h1>
        <p class="subtitle">Start your journey with us...</p>

    <!-- FORM GROUP BEGINS -->
        <form (ngSubmit)="onSignup()">
        <!-- EMAIL ID BEGINS-->
            <mat-form-field appearance="outline" class="full email">
                <mat-label>Email</mat-label>
                <input matInput [formControl]="email" />

                @if (email.invalid) {
                    <mat-error>{{ emailError() }}</mat-error>
                }
            </mat-form-field>
        <!-- EMAIL ID ENDS -->
        
        <!-- PASSWORD BEGINS -->
            <mat-form-field appearance="outline" class="full password">
                <mat-label>Password</mat-label>
                <input 
                    matInput 
                    [type]="hidePassword() ? 'password' : 'text'" 
                    [formControl]="password" />

                <button
                    mat-icon-button
                    matSuffix
                    type="button"
                    (click)="hidePassword.set(!hidePassword())"
                    aria-label="Toggle password visibility">

                    <mat-icon>
                        {{ hidePassword() ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                </button>

                @if (password.invalid) {
                    <mat-error>{{ passwordError() }}</mat-error>
                }
            </mat-form-field>
        <!-- PASSWORD ENDS -->

        <!-- CONFIRM PASSWORD BEGINS -->
            <mat-form-field appearance="outline" class="full password">
                <mat-label>Confirm Password</mat-label>
                <input
                    matInput
                    [type]="hideConfirmPassword() ? 'password' : 'text'"
                    [formControl]="confirmPassword" />

                <button
                    mat-icon-button
                    matSuffix
                    type="button"
                    (click)="hideConfirmPassword.set(!hideConfirmPassword())"
                    aria-label="Toggle password visibility">

                    <mat-icon>
                        {{ hideConfirmPassword() ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                </button>

                @if (confirmPassword.invalid) {
                    <mat-error>{{ confirmPasswordError() }}</mat-error>
                }
            </mat-form-field>
        <!-- CONFIRM PASSWORD ENDS -->


        <!-- CREATE NEW ACCOUNT BUTTON BEGINS -->
            <div
                class="create-acc-btn-wrapper"
                [class.invalid]="email.invalid || password.invalid">

                <button
                    mat-raised-button
                    type="submit"
                    class="full create-acc-btn"
                    [disabled]="email.invalid || password.invalid || confirmPassword.invalid">
                    Create Account
                </button>
            </div>
        <!-- CREATE NEW ACCOUNT BUTTON ENDS -->
        
        <!-- LOGIN BUTTON BEGINS -->
            <button
                mat-button
                class="full login-btn"
                routerLink="/login">
                Back to Login
            </button>
        <!-- LOGIN BUTTON ENDS -->

        </form>
    <!-- FORM GROUP ENDS -->

    </mat-card>
</div>
