<div class="customers-table-container">

  <!-- 1. TABLE ACTION ROW BEGINS -->
  <div class="table-actions">

    <div class="search-controls">

      <!-- 1. REFRESH BUTTON -->
      <button
        mat-icon-button
        type="button"
        (click)="onRefresh()"
        matTooltip="Reload data">
        <mat-icon>refresh</mat-icon>
      </button>

      <!-- 2. SELECT FIELD -->
      <mat-form-field appearance="outline" class="search-select compact">
        <mat-select
          [(ngModel)]="selectedColumn"
          (selectionChange)="onColumnChange()">

          <mat-option value="__all">All Columns</mat-option>

          <mat-option
            *ngFor="let column of columns"
            [value]="column.key">
            {{ column.label }}
          </mat-option>

        </mat-select>
      </mat-form-field>

      <!-- 3. SEARCHING FIELD -->
      @if (selectedColumn === 'createdAt') {

        <!-- DATE RANGE FIELD -->
        <div class="date-range-group">

          <!-- 1. FROM DATE -->
          <mat-form-field appearance="outline" class="compact">
            <input
              matInput
              [matDatepicker]="fromPicker"
              placeholder="From"
              [(ngModel)]="fromDate"
              [max]="toDate"
              (dateChange)="applyFilter()">
            <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
            <mat-datepicker #fromPicker></mat-datepicker>
          </mat-form-field>

          <!-- 2. TO DATE -->
          <mat-form-field appearance="outline" class="compact">
            <input
              matInput
              [matDatepicker]="toPicker"
              placeholder="To"
              [(ngModel)]="toDate"
              [min]="fromDate"
              (dateChange)="applyFilter()">
            <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
            <mat-datepicker #toPicker></mat-datepicker>
          </mat-form-field>

           <!-- 3. CLEAR RANGE BUTTON -->
          <button
            mat-icon-button
            type="button"
            (click)="clearDateRange()"
            [disabled]="!fromDate && !toDate"
            class="clear-range-btn">

            <mat-icon>close</mat-icon>

          </button>
        </div>

      } 
      @else {
        <!-- TEXT FIELD -->
        <mat-form-field appearance="outline" class="search-input compact">
          <mat-icon matPrefix>search</mat-icon>

          <input
            matInput
            placeholder="Search..."
            [(ngModel)]="searchValue"
            (input)="applyFilter()" />

          <button
            *ngIf="searchValue"
            mat-icon-button
            matSuffix
            type="button"
            (click)="clearSearch()"
            class="clear-btn">

            <mat-icon>close</mat-icon>

          </button>
        </mat-form-field>

      }

    </div>

  </div>

  <!-- 2. PROGRESS BAR BEGINS -->
  <mat-progress-bar
    *ngIf="loading"
    mode="indeterminate">
  </mat-progress-bar>

  <!-- 3. TABLE BEGINS -->
  <div class="table-wrapper">
    <table mat-table
            matSort
            [dataSource]="dataSource"
            class="customers-table">

      <!-- ROW NUMBER COLUMN BEGINS -->
      <ng-container matColumnDef="__rowNumber">
        <th mat-header-cell *matHeaderCellDef>
          #
        </th>
        <td mat-cell *matCellDef="let row; let i = index">
          {{ getRowNumber(i) }}
        </td>
      </ng-container>

      <!-- DYNAMIC DATA COLUMNS BEGINS -->
      <ng-container
        *ngFor="let column of columns"
        [matColumnDef]="column.key">

        <!-- HEADER -->
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column.label }}
        </th>

        <!-- ROWS -->
        <td mat-cell *matCellDef="let row">
          {{
            column.key === 'createdAt'
              ? (row[column.key] | date:'dd MMM yyyy, HH:mm')
              : row[column.key]
          }}
        </td>
      </ng-container>

      <tr class="no-data-row" *matNoDataRow>
        <td [attr.colspan]="columnKeys.length">
          No customers found
        </td>
      </tr>

      <!-- TABLE DEFINITION -->
      <tr mat-header-row
          *matHeaderRowDef="columnKeys">
      </tr>

      <tr mat-row
          *matRowDef="let row; columns: columnKeys">
      </tr>

    </table>
  </div>

  <!-- 4. PAGINATOR -->
  <mat-paginator
    [pageSize]="25"
    [pageSizeOptions]="[10, 25, 50, 100]"
    showFirstLastButtons>
  </mat-paginator>

</div>