:host {
  display: block;
}

.table-wrapper {
  max-height: 572px; // exact 1 header + 10 cells (1 cell height = 52 pixels)
  overflow-y: auto;
  position: relative;
}

.customers-table {
  width: 100%;
  border-radius: 8px;
  background: var(--bg-primary);

  /* HEADER */
  .mat-mdc-header-row {
    background-color: var(--bg-primary);
  }

  .mat-mdc-header-cell {
    position: sticky;
    top: 0;
    z-index: 10;
    font-weight: 100;
    background-color: var(--bg-primary);
    color: var(--text-secondary);
    border-bottom:none;
  }

  /* ROW TEXT */
  .mat-mdc-cell {
    color: var(--text-primary);
    border-bottom: none;
  }

  /* ZEBRA STRIPING */
  .mat-mdc-row:nth-child(even) {
    background-color: var(--bg-primary);
  }

  .mat-mdc-row:nth-child(odd) {
    background-color: var(--bg-secondary);
  }

  /* HOVER */
  .mat-mdc-row:hover {
    background-color: var(--bg-tertiary);
  }
}

mat-progress-bar {
  margin-bottom: 0px;
}
