<div class="customers-table-container">

  <!-- TABLE ACTION ROW BEGINS -->
  <div class="table-actions">
    <button
      mat-icon-button
      type="button"
      (click)="onRefresh()"
      matTooltip="Reload data"
      class="refresh-btn">

      <mat-icon>refresh</mat-icon>

    </button>
  </div>


  <!-- PROGRESS BAR BEGINS -->
  <mat-progress-bar
    *ngIf="loading"
    mode="indeterminate">
  </mat-progress-bar>

  <!-- TABLE BEGINS -->
  <div class="table-wrapper">
    <table mat-table
            matSort
            [dataSource]="dataSource"
            class="customers-table">

      <!-- ROW NUMBER COLUMN BEGINS -->
      <ng-container matColumnDef="__rowNumber">
        <th mat-header-cell *matHeaderCellDef>
          #
        </th>
        <td mat-cell *matCellDef="let row; let i = index">
          {{ getRowNumber(i) }}
        </td>
      </ng-container>

      <!-- DYNAMIC DATA COLUMNS BEGINS -->
      <ng-container
        *ngFor="let column of columns"
        [matColumnDef]="column.key">

        <!-- HEADER -->
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column.label }}
        </th>

        <!-- ROWS -->
        <td mat-cell *matCellDef="let row">
          {{
            column.key === 'createdAt'
              ? (row[column.key] | date:'dd MMM yyyy, HH:mm')
              : row[column.key]
          }}
        </td>
      </ng-container>

      <tr class="no-data-row" *matNoDataRow>
        <td [attr.colspan]="columnKeys.length">
          No customers found
        </td>
      </tr>

      <!-- TABLE DEFINITION -->
      <tr mat-header-row
          *matHeaderRowDef="columnKeys">
      </tr>

      <tr mat-row
          *matRowDef="let row; columns: columnKeys">
      </tr>

    </table>
  </div>

  <mat-paginator
    [pageSize]="25"
    [pageSizeOptions]="[10, 25, 50, 100]"
    showFirstLastButtons>
  </mat-paginator>

</div>
