<div class="customers-table-container">

  <!-- TABLE ACTION ROW BEGINS -->
  <div class="table-actions">

    <div class="search-controls">

      <!-- REFRESH BUTTON -->
      <button
        mat-icon-button
        type="button"
        (click)="onRefresh()"
        matTooltip="Reload data">
        <mat-icon>refresh</mat-icon>
      </button>

      <!-- SELECT FIELD -->
      <mat-form-field appearance="outline" class="search-select compact">
        <mat-select
          [(ngModel)]="selectedColumn"
          (selectionChange)="applyFilter()">

          <mat-option value="__all">All Columns</mat-option>

          <mat-option
            *ngFor="let column of columns"
            [value]="column.key">
            {{ column.label }}
          </mat-option>

        </mat-select>
      </mat-form-field>

      <!-- SEARCHING FIELD -->
      <mat-form-field appearance="outline" class="search-input compact">
          <mat-icon matPrefix>search</mat-icon>

          <input
            matInput
            placeholder="Search..."
            [(ngModel)]="searchValue"
            (input)="applyFilter()" />

          <button
            *ngIf="searchValue"
            mat-icon-button
            matSuffix
            type="button"
            (click)="clearSearch()"
            class="clear-btn">

            <mat-icon>close</mat-icon>

          </button>
      </mat-form-field>

    </div>

  </div>


  <!-- PROGRESS BAR BEGINS -->
  <mat-progress-bar
    *ngIf="loading"
    mode="indeterminate">
  </mat-progress-bar>

  <!-- TABLE BEGINS -->
  <div class="table-wrapper">
    <table mat-table
            matSort
            [dataSource]="dataSource"
            class="customers-table">

      <!-- ROW NUMBER COLUMN BEGINS -->
      <ng-container matColumnDef="__rowNumber">
        <th mat-header-cell *matHeaderCellDef>
          #
        </th>
        <td mat-cell *matCellDef="let row; let i = index">
          {{ getRowNumber(i) }}
        </td>
      </ng-container>

      <!-- DYNAMIC DATA COLUMNS BEGINS -->
      <ng-container
        *ngFor="let column of columns"
        [matColumnDef]="column.key">

        <!-- HEADER -->
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column.label }}
        </th>

        <!-- ROWS -->
        <td mat-cell *matCellDef="let row">
          {{
            column.key === 'createdAt'
              ? (row[column.key] | date:'dd MMM yyyy, HH:mm')
              : row[column.key]
          }}
        </td>
      </ng-container>

      <tr class="no-data-row" *matNoDataRow>
        <td [attr.colspan]="columnKeys.length">
          No customers found
        </td>
      </tr>

      <!-- TABLE DEFINITION -->
      <tr mat-header-row
          *matHeaderRowDef="columnKeys">
      </tr>

      <tr mat-row
          *matRowDef="let row; columns: columnKeys">
      </tr>

    </table>
  </div>

  <mat-paginator
    [pageSize]="25"
    [pageSizeOptions]="[10, 25, 50, 100]"
    showFirstLastButtons>
  </mat-paginator>

</div>
