.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-primary);
}

.login-card {
  width: 380px;
  padding: 32px 28px;
  border-radius: 16px;
  text-align: center;
  background: var(--bg-secondary);
  border: 1px solid var(--border-color) !important;
  box-shadow: none !important;
}

h1 {
  margin-bottom: 0px;
}

.subtitle {
  margin-bottom: 24px;
  color: var(--text-secondary);
}

.email {
  margin-bottom: 12px;
}

.full {
  width: 100%;
}

.login-btn {
  margin-top: 12px;
  height: 44px;
  font-weight: 500;
  background-color: var(--button-blue) !important;
  color: var(--text-primary) !important;
}

/* Cursor invalid */
.login-btn-wrapper.invalid, .login-btn-wrapper.loading {
  cursor: not-allowed;
}

/* Disabled button look */
.login-btn-wrapper.invalid .login-btn {
  background-color: var(--button-dark-blue) !important; /* grey */
  color: var(--text-disabled) !important;
  opacity: 0.8;
}

/* loading state */
.login-btn-wrapper.loading .login-btn {
  background-color: var(--button-blue) !important; /* keep active blue */
  color: var(--text-primary) !important;
  opacity: 1;
  cursor: default;
}

/* Hover feedback */
.login-btn-wrapper.invalid:hover, .login-btn-wrapper.loading:hover {
  opacity: 0.9;
}

.forgot-pwd-btn{
  margin-top: 12px;
  height: 44px;
  font-weight: 400;
  background-color: var(--bg-secondary);
  color: var(--text-primary) !important;

  /* Kill ripple overlay color */
  --mat-text-button-state-layer-color: transparent;
}

.create-acc-btn{
  margin-top: 12px;
  height: 44px;
  font-weight: 500;
  background-color: var(--bg-secondary);
  color: var(--text-blue) !important;

  border-width: 1px;
  border-style: solid;
  border-color: var(--button-blue) !important;
}