<div class="login-container">
    <mat-card class="login-card">
        <h1>FinFlow</h1>
        <p class="subtitle">Log in to continue</p>

    <!-- FORM GROUP BEGINS -->
        <form (ngSubmit)="onLogin()">
        <!-- EMAIL ID BEGINS-->
            <mat-form-field appearance="outline" class="full email">
                <mat-label>Email</mat-label>
                <input matInput [formControl]="email" />

                @if (email.invalid) {
                    <mat-error>{{ emailError() }}</mat-error>
                }
            </mat-form-field>
        <!-- EMAIL ID ENDS -->
        
        <!-- PASSWORD BEGINS -->
            <mat-form-field appearance="outline" class="full password">
                <mat-label>Password</mat-label>
                <input 
                    matInput 
                    [type]="hidePassword() ? 'password' : 'text'" 
                    [formControl]="password" />

                <button
                    mat-icon-button
                    matSuffix
                    type="button"
                    (click)="hidePassword.set(!hidePassword())"
                    aria-label="Toggle password visibility">

                    <mat-icon>
                        {{ hidePassword() ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                </button>

                @if (password.invalid) {
                    <mat-error>{{ passwordError() }}</mat-error>
                }
            </mat-form-field>
        <!-- PASSWORD ENDS -->

        <!-- LOGIN BUTTON BEGINS -->
            <div
                class="login-btn-wrapper"
                [class.invalid]="email.invalid || password.invalid"
                [class.loading]="loading()">

                <button
                    mat-raised-button
                    type="submit"
                    class="full login-btn"
                    [disabled]="email.invalid || password.invalid || loading()">

                    @if (loading()) {
                        <mat-progress-spinner
                            mode="indeterminate"
                            style="--mdc-circular-progress-active-indicator-color: white"
                            diameter="20"
                            strokeWidth="2">
                        </mat-progress-spinner>
                    } @else {
                        Login
                    }

                </button>
            </div>
        <!-- LOGIN BUTTON ENDS -->
        
        <!-- FORGOT PASSWORD BUTTON BEGINS -->
            <button
                mat-button
                disableRipple
                class="full forgot-pwd-btn"
                routerLink="/forgot-password">
                Forgot Password?
            </button>
        <!-- FORGOT PASSWORD BUTTON ENDS -->

        <!-- CREATE NEW ACCOUNT BUTTON BEGINS -->
            <button
                mat-stroked-button
                class="full create-acc-btn"
                routerLink="/signup">
                Create new account
            </button>
        <!-- CREATE NEW ACCOUNT BUTTON ENDS -->

        </form>
    <!-- FORM GROUP ENDS -->

    </mat-card>
</div>
