.breadcrumb {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 20px 0px 20px 0px;
  max-width: 900px;
}

.crumb-link,
.crumb-active {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
}

.crumb-link {
  cursor: pointer;
  text-decoration: none;
  color: var(--primary-color);
  opacity: 0.6;
}

.crumb-link:hover {
  text-decoration: underline;
}

.crumb-active {
  font-weight: 600;
  max-width: 600px;
}

.divider {
  height: 28px;
  width: 28px;
  font-size: 28px;
  opacity: 0.6;
}