<mat-toolbar class="app-header">

  <!-- MENU & LOGO -->
  <div class="left">
    <button mat-icon-button (click)="onToggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- LOGO AS BUTTON -->
    <button 
      mat-button 
      class="logo-btn"
      routerLink="/"
      disableRipple>
      Softvent FinFlow
    </button>
  </div>

  <span class="spacer"></span>

  <!-- RIGHT NAV -->
  <nav class="right">
    <button
      mat-icon-button
      [matMenuTriggerFor]="accountMenuComp.menu">
      <mat-icon fontSet="material-symbols-outlined" class="outline-icon">
        account_circle
      </mat-icon>
    </button>

    <app-account-menu #accountMenuComp></app-account-menu>
  </nav>

</mat-toolbar>