<mat-toolbar class="app-header">

  <!-- MENU & LOGO BEGINS -->
   <!-- [style.visibility]="isAuthPage() ? 'hidden' : 'visible'" -->
  <div class="left">
    <button 
      mat-icon-button 
      (click)="onToggleSidebar()" 
      
      >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="logo">Softvent FinFlow</span>
  </div>
  <!-- MENU & LOGO ENDS -->

  <span class="spacer"></span>

  <!-- RIGHT NAV BEGINS -->
  <nav class="right">
    <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a mat-button routerLink="/about" routerLinkActive="active">About Us</a>
    <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>

    <button
      mat-icon-button
      [matMenuTriggerFor]="accountMenuComp.menu">
      <mat-icon fontSet="material-symbols-outlined" class="outline-icon">
        account_circle
      </mat-icon>
    </button>

    <app-account-menu #accountMenuComp></app-account-menu>
  </nav>
  <!-- RIGHT NAV ENDS -->

</mat-toolbar>


