<div class="login-container">
  <mat-card class="login-card">

    <!-- EMAIL INPUT PAGE BEGINS-->
    @if (!otpSent()) {

      <!-- TITLE -->
      <h2>Create Account</h2>
      <p class="subtitle">
        Enter your email & we'll send you a verification OTP
      </p>

      <form (ngSubmit)="onSendOtp()">

        <!-- EMAIL INPUT -->
        <mat-form-field appearance="outline" class="full email">
          <mat-label>Email</mat-label>
          <input matInput [formControl]="email" />

          @if (email.invalid) {
            <mat-error>{{ emailError() }}</mat-error>
          }
        </mat-form-field>

        <!-- SEND OTP BUTTON -->
        <div
          class="send-email-btn-wrapper"
          [class.invalid]="email.invalid"
          [class.loading]="loading()">

          <button
            mat-raised-button
            type="submit"
            class="full send-email-btn"
            [disabled]="email.invalid || loading()">

            @if (loading()) {
              <mat-progress-spinner
                mode="indeterminate"
                diameter="20"
                strokeWidth="2"
                style="--mdc-circular-progress-active-indicator-color: white">
              </mat-progress-spinner>
            } @else {
              Send OTP
            }

          </button>
        </div>

      </form>

    } 
    <!-- EMAIL INPUT PAGE ENDS -->

    <!-- OTP INPUT PAGE BEGINS -->
    @else {

      <!-- TITLE -->
      <h2>Verify OTP</h2>
      <p class="subtitle">
        Enter the 6-digit OTP sent to your email
      </p>

      <form (ngSubmit)="onVerifyOtp()">

        <!-- OTP INPUT -->
        <div class="otp-container" [class.error]="otpInvalid()">
            @for (control of otpControls; track $index) {
                <input
                matInput
                class="otp-box"
                maxlength="1"
                [formControl]="control"
                [id]="'otp-' + $index"
                (input)="onOtpInput($event, $index)"
                (keydown)="onOtpBackspace($event, $index)"
                (paste)="onOtpPaste($event)"
                />
            }
        </div>
        
        <!-- RESEND OTP BUTTON -->
        <div class="resend-wrapper">
          <button
            mat-button
            type="button"
            disableRipple
            class="resend-btn full"
            [class.timer]="!canResend()"
            [class.active]="canResend()"
            (click)="onResendOtp()"
            [disabled]="!canResend() || resendLoading()">

            @if (resendLoading()) {
              <mat-progress-spinner
                  mode="indeterminate"
                  diameter="16"
                  strokeWidth="2"
                  style="--mdc-circular-progress-active-indicator-color: var(--button-blue)">
              </mat-progress-spinner>
            } 
            @else {
              @if (!canResend()) { Resend OTP in {{ resendTimer() }}s } 
              @else { Resend OTP }
            }
          </button>
        </div>

        <!-- VERIFY OTP BUTTON -->
        <div
          class="send-email-btn-wrapper"
          [class.invalid]="isOtpInvalid"
          [class.loading]="loading()">

          <button
            mat-raised-button
            type="submit"
            class="full send-email-btn"
            [disabled]="isOtpInvalid || loading()">

            @if (loading()) {
              <mat-progress-spinner
                mode="indeterminate"
                diameter="20"
                strokeWidth="2"
                style="--mdc-circular-progress-active-indicator-color: white">
              </mat-progress-spinner>
            } 
            @else { Verify }
          </button>
        </div>

      </form>

    }
    <!-- OTP INPUT PAGE ENDS -->


    <!-- GO BACK TO LOGIN BUTTON -->
    <button
      mat-button
      type="button"
      class="full go-back-btn"
      routerLink="/login">
      <mat-icon fontSet="material-symbols-outlined" class="outline-icon">
        arrow_circle_left
      </mat-icon>
      Back to Login
    </button>

  </mat-card>
</div>