<div class="container">
  <h1 class="title">Add Item</h1>
  <p class="subtitle">Create a new item entry</p>

  <form [formGroup]="form" (ngSubmit)="submit()" class="form-grid">

    <!-- ITEM CODE -->
    <mat-form-field appearance="outline">
      <mat-label>Item Code</mat-label>
      <input matInput (input)="onIcodeInput($event)" formControlName="icode" />
      <mat-error *ngIf="form.controls.icode.hasError('required')">
        Item code is required
      </mat-error>
      <mat-error *ngIf="form.controls.icode.hasError('icodeTaken')">
        Item code already exists
      </mat-error>
      <mat-error *ngIf="form.controls.icode.hasError('pattern')">
         Wrong Format. Ex: ABC1234
      </mat-error>
    </mat-form-field>

    <!-- NAME -->
    <mat-form-field appearance="outline">
      <mat-label>Item Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="form.controls.name.hasError('required')">
         Item Name is Required
      </mat-error>
    </mat-form-field>

    <!-- GROUP -->
    <mat-form-field appearance="outline">
      <mat-label>Item Group</mat-label>
      <mat-select formControlName="igid">
        <mat-option [value]="null" disabled>Select Item Group</mat-option>
        <mat-option *ngFor="let group of itemGroups()" [value]="group.igid">
          {{ group.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- ITEM TYPE -->
    <mat-form-field appearance="outline">
      <mat-label>Item Type</mat-label>
      <mat-select formControlName="itemType">
        <mat-option *ngFor="let type of itemTypes" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- UOM -->
    <mat-form-field appearance="outline">
      <mat-label>Unit of Measure</mat-label>
      <mat-select formControlName="uom">
        <mat-option *ngFor="let u of uoms" [value]="u">
          {{ u }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- HSN -->
    <mat-form-field appearance="outline">
      <mat-label>HSN / SAC Code</mat-label>
      <input matInput formControlName="hsnSacCode" />
      <mat-error *ngIf="form.controls.hsnSacCode.hasError('required')">
         Code is Required
      </mat-error>
      <mat-error *ngIf="form.controls.hsnSacCode.hasError('pattern')">
        Only numeric values allowed
      </mat-error>
    </mat-form-field>

    <!-- PURCHASE RATE -->
    <mat-form-field appearance="outline">
      <mat-label>Purchase Rate ₹</mat-label>
      <input 
        matInput 
        type="number" 
        min="0"
        step="0.01"
        [maxDecimals]="2"
        formControlName="purchaseRate" 
      />
      <mat-error *ngIf="form.controls.purchaseRate.hasError('min')">
        Cannot be negative
      </mat-error>
    </mat-form-field>

    <!-- SALES RATE -->
    <mat-form-field appearance="outline">
      <mat-label>Sales Rate ₹</mat-label>
      <input 
        matInput 
        type="number" 
        min="0"
        step="0.01"
        [maxDecimals]="2"
        formControlName="salesRate" 
      />
      <mat-error *ngIf="form.controls.salesRate.hasError('min')">
        Cannot be negative
      </mat-error>
    </mat-form-field>

    <!-- GST -->
    <mat-form-field appearance="outline">
      <mat-label>GST %</mat-label>
      <mat-select formControlName="gstRate">
      <mat-option *ngFor="let rate of gstRates" [value]="rate">
        {{ rate }}%
      </mat-option>
    </mat-select>
    </mat-form-field>

    <!-- CHECKBOXES -->
    <div class="checkbox-group">
      <mat-checkbox formControlName="isBom">BOM Item</mat-checkbox>
      <mat-checkbox formControlName="stockable">Stockable</mat-checkbox>
    </div>

    <!-- DESCRIPTION -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
      <mat-error *ngIf="form.controls.description.hasError('required')">
         Description is Required
      </mat-error>
    </mat-form-field>

    <!-- BUTTON -->
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="form.invalid || loading()">

      <mat-spinner
        *ngIf="loading()"
        diameter="20"
        strokeWidth="3">
      </mat-spinner>

      <span *ngIf="!loading()">Create Item</span>
    </button>

  </form>
</div>