.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 90vh;

  .title {
    color: var(--text-primary);
    margin-bottom: 20px;
  }

  .subtitle {
    color: var(--text-secondary);
    margin-bottom: 30px;
  }
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}

.full-width {
  grid-column: span 3;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: -30px;
  margin-bottom: -10px;
}

button {
  grid-column: span 3;
  height: 48px;
  font-weight: 500;
}