<div class="table-container">

  <!-- 1. TABLE ACTION ROW BEGINS -->
  <div class="table-actions">
    <button
      mat-icon-button
      type="button"
      (click)="onRefresh()"
      matTooltip="Reload data">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>

  <!-- 2. PROGRESS BAR BEGINS -->
  <div class="progress-bar-wrapper">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </div>

  <!-- 3. TABLE BEGINS -->
  <div class="grid-wrapper ag-theme-quartz-dark" [style.height]="gridHeight">
    <ag-grid-angular
        class="ag-grid"

        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        
        [pagination]="true"
        [paginationPageSize]="paginationPageSize"
        [paginationPageSizeSelector]="paginationPageSizeSelector"

        [alwaysShowVerticalScroll]="true"
        [enableCellTextSelection]="true"

        (gridReady)="onGridReady($event)"
        (cellClicked)="onCellClicked($event)">
    </ag-grid-angular>
  </div>
</div>