:host {
  display: block;
}

.table-container {
  margin-bottom: 24px;
}

.grid-wrapper {
  width: 100%;
  height: 600px;
}

.ag-grid {
  width: 100%;
  height: 100%;
}

/* TABLE ACTION BAR */
.table-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0px;
  margin-top: -16px;
  margin-right: 6px;
}

/* REFRESH */
.refresh-btn {
  width: 32px;
  height: 32px;
  padding: 0;
  color: var(--text-secondary);

  .mat-icon {
    font-size: 18px;
  }
}

// PROGRESS BAR
mat-progress-bar {
  margin-bottom: 0px;
  --mdc-linear-progress-active-indicator-color: var(--text-primary);
}

.progress-bar-wrapper {
  height: 4px;
}

// EYE ICON
::ng-deep .ag-theme-quartz-dark .eye-cell .material-icons {
  padding: 6px;
  border-radius: 50%;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}