@use '@angular/material' as mat;

@include mat.core();

/* Define M3 theme */
$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$cyan-palette,
    tertiary: mat.$orange-palette,
  ),
  typography: (
    brand-family: Roboto,
  ),
));

/* M3 THEMES MUST BE IN A SELECTOR */
:root {
  @include mat.all-component-themes($theme);
}

/* Global styles */
html, body { height: 100%; }
body {
  margin: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
