.container {
  max-width: 1200px;
  margin: 0 auto;

  .title {
    color: var(--text-primary);
    font-weight: 600;
    font-size: 32px;
    margin: 10px 0 5px;
  }

  .subtitle {
    color: var(--text-secondary);
    margin-bottom: 30px;
  }
}