<div class="login-container">
    <mat-card class="login-card">
        <h2>Forgot Password</h2>
        <p class="subtitle">
        Enter your email & we'll send you a reset link
        </p>

        <form (ngSubmit)="onSubmit()">

        <!-- EMAIL BEGINS HERE -->
            <mat-form-field appearance="outline" class="full email">
                <mat-label>Email</mat-label>
                <input matInput [formControl]="email" />

                @if (email.invalid && email.touched) {
                    <mat-error>Enter a valid email address</mat-error>
                }
            </mat-form-field>
        <!-- EMAIL ENDS HERE -->

        <!-- SUBMIT BUTTON BEGINS HERE -->
            <div
                class="send-email-btn-wrapper"
                [class.invalid]="email.invalid || loading()">
                <button
                    mat-raised-button
                    type="submit"
                    class="full send-email-btn"
                    [disabled]="email.invalid || loading()">
                    Send reset link
                </button>
            </div>
        <!-- SUBMIT BUTTON ENDS HERE -->

        <!-- GO BACK TO LOGIN BUTTON BEGINS HERE -->
            <button
                mat-button
                class="full go-back-btn"
                routerLink="/login">
                Back to Login
            </button>
        <!-- GO BACK TO LOGIN BUTTON ENDS HERE -->

        </form>
    </mat-card>
</div>

